* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}
body {
  font: normal bold 1rem Cochin;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
/* text */
p {
  text-indent: 2rem;
  word-spacing: normal;
  word-break: keep-all;
}
nav {
  width: 100vw;
  background-color: cornflowerblue;
  color: whitesmoke;
}
