.triangles {
  &::before,
  &::after {
    display: block;
    content: "";
    margin: 1rem;
  }
  &::before {
    @include triangle(right, blue);
  }
  &::after {
    @include triangle(left, orange);
  }
}
.text-xs {
  @include font-size(xs);
  @include background-color(dark-grey);
}
.text-s {
  @include font-size(s);
  @include background-color(blue);
}
.text-m {
  @include font-size(m);
  @include background-color(yellow);
}
.text-l {
  @include font-size(l);
  @include background-color(red);
}
.text-xl {
  @include font-size(xl);
  @include background-color(purple);
}
.text-xxl {
  @include font-size(xxl);
  @include background-color();
}
