.torso {
  @include center;
  flex-direction: column;
}
.box {
  @include fade-in(3s);
  @include size-for-div;
  background-color: purple;
}

.container {
  @include size-for-div;
  background-color: aqua;
  @include swing(3s, 3);
  left: 5rem;
}
.list {
  background-color: darkslateblue;
  width: 50vw;
  height: 14vh;
  @include center;
  ul {
    @include list-none;
    background-color: darkorange;
  }
}
