// torso is the main part of the page
.torso {
  @include center(column);
  //   flex-direction: column;

  .box {
    @include fade-in(3s);
    @include size-for-div;
    background-color: purple;
  }
  // the hammer
  .container {
    width: 3rem;
    height: 6rem;
    background-color: rgb(84, 106, 124);
    @include swing(3s, 2);
    // animation-play-state: paused;
    border-radius: 25%;

    // hammer handle
    &::before {
      display: block;
      content: "";
      height: 1.5rem;
      width: 8rem;
      background-color: rgb(117, 65, 65);
      top: 2rem;
      right: 8rem;
      position: relative;
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
    }
  }
  .list {
    background-color: darkslateblue;
    width: 50vw;
    height: 14vh;
    @include center(row);
    ul {
      @include size-for-div;
      @include reset-list;
      @include center(column);
      background-color: darkorange;
    }
    li {
      font-size: 0.7rem;
    }
  }
}

//for shapes check file shapes.scss
