* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
body,
.menus-container,
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.menus-container {
  width: 31vw;
  height: 30vw;
  border: brown solid 3px;
}
.menu {
  width: 10rem;
  height: 10rem;
  background-color: aquamarine;
  padding: 1rem;
}
.bars {
  width: 8rem;
  height: 1rem;
  background-color: rgb(56, 53, 53);
  border-radius: 0.5rem;
}
